html
 head
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" href="/css/main.css" type="text/css")
 body
  iframe(src='https://webchat.botframework.com/embed/pizza_bot_demo?s=BkLsPNXZb88.cwA.dZ4.Qpz4zoz5brlJRvlChIumewn5scHdZCzRZJh5i2FWrAM')